<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Trips for <%= @route.name %></h1>
      <%= link_to "Back to route", route_path(@route) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% @trips.ordered_by_start_at.each do |trip| %>
      <div class="<%= trip.in_progress? ? "feed-item-success" : "feed-item" %>">
        <div style="height:20px;"></div>
        <p>
          <strong>Status:</strong>
          <%= trip.status %>
        </p>
        <p>
          <strong>Started:</strong>
          <%= trip.start_at.strftime("%B %e, %Y %l:%M %P") %>
        </p>
        <p>
          <% if trip.ended_at.present? %>
            <strong>Ended:</strong>
            <%= trip.ended_at.strftime("%B %e, %Y %l:%M %P") %>
          <% end %>
        </p>
        <p>
          <%= link_to "View trip", trip %>
        </p>
      </div>
    <% end %>
  </div>
</div>
