<p id="notice"><%= notice %></p>

<h1>Riderships</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Route</th>
      <th>Pickup time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riderships.each do |ridership| %>
      <tr>
        <td><%= ridership.student_id %></td>
        <td><%= ridership.route_id %></td>
        <td><%= ridership.pickup_time %></td>
        <td><%= link_to 'Show', ridership %></td>
        <td><%= link_to 'Edit', edit_ridership_path(ridership) %></td>
        <td><%= link_to 'Destroy', ridership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ridership', new_ridership_path %>
