<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1><%= @route.name %></h1>
      <p>
        <%= link_to "Back to all routes", routes_path %>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Driver</h2>
    <p>
      <strong>Name:</strong> <%= @route.driver.name %>
    </p>
    <p>
      <strong>Phone number:</strong> <%= @route.driver.phone_number %>
    </p>
  </div>
</div>

<% if @route.trips.in_progress.count == 0 %>
  <div class="row">
    <div class="col-lg-12">
      <%= link_to "Start trip", route_trips_path(@route), method: :post, class: "btn btn-primary" %>
    </div>
  </div>

  <hr>
<% end %>

<% if @active_trip.present? %>
  <div class="row">
    <div class="col-md-12">
      <h2>Active trip</h2>
      <div class="feed-item-success">
        <div style="height:20px;"></div>
        <p>
          <strong>Status:</strong>
          <%= @active_trip.status %>
        </p>
        <p>
          <strong>Started:</strong>
          <%= @active_trip.start_at.strftime("%B %e, %Y %l:%M %P") %>
        </p>
        <p>
          <% if @active_trip.ended_at.present? %>
            <strong>Ended:</strong>
            <%= @active_trip.ended_at.strftime("%B %e, %Y %l:%M %P") %>
          <% end %>
        </p>
        <p>
          <%= link_to "View trip", @active_trip %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h2>Finished trips</h2>
    <% @route.trips.finished.ordered_by_start_at.each do |trip| %>
      <div class="feed-item">
        <div style="height:20px;"></div>
        <p>
          <strong>Status:</strong>
          <%= trip.status %>
        </p>
        <p>
          <strong>Started:</strong>
          <%= trip.start_at.strftime("%B %e, %Y %l:%M %P") %>
        </p>
        <p>
          <% if trip.ended_at.present? %>
            <strong>Ended:</strong>
            <%= trip.ended_at.strftime("%B %e, %Y %l:%M %P") %>
          <% end %>
        </p>
        <p>
          <%= link_to "View trip", trip %>
        </p>
      </div>
    <% end %>
  </div>
</div>

